<div class="other-users-bubble">
  <div class="avatar">
    <img src="http://1.gravatar.com/avatar/4aec270c628582d3a04e8b3cfed6194a?s=80&d=mm&r=g" alt="userAvatar-Username">
  </div>
  <div class="msg-content">
    <span class="user-full-name">
      Abderrahmane Naceur
    </span>
    <div class="clear"></div>
    <div class="message-content">
      <p>
        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها
      </p>
    </div>
    <span class="sent-time">
      05:00 Pm
    </span>
  </div>
  <div class="clear"></div>
</div>