<div class="user-side-menu">
  <div class="user-metadata">
    <div class="user-avatar">
      <img src="http://1.gravatar.com/avatar/4aec270c628582d3a04e8b3cfed6194a?s=120&d=mm&r=g" alt="">
    </div>
    <div class="user-name">
      @nacerbo
    </div>
    <div class="user-fullname">
      Abderrahmane Naceur
    </div>
  </div>
  <div class="main-menu">
    <nav class="nav-menu">
      <ul class="menu">
        <li><a href="#">معلومات حسابي الشخصي</a></li>
        <li><a href="#">عالم كوريا</a></li>
        <li><a href="#">تعلم اللغة الكورية</a></li>
        <li><a href="#">قناتنا في اليوتيوب</a></li>
        <li><a href="#">تسجيل الخروج</a></li>
      </ul>
    </nav>
  </div>
</div>