<div class="link-bubble">
  <span class="link-host">
    YouTube
  </span>
  <div class="clear"></div>
  <a href="#" target="_blank">
    <div class="link-content">
        <div class="link-thumbnail">
            <img src="assets/img/bts.jpg" alt="btslinkyoutube">
        </div>
        <div class="link-meta-data">
            <h1 class="link-title">معلومات و حقائق عن بي تي أس BTS - عالم كوريا</h1>
            <p>
                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها...
            </p>
        </div>
        <div class="clear"></div>
    </div>
  </a>
</div>