<div class="chat-input-box">
  <div class="avatar">
    <img src="http://1.gravatar.com/avatar/4aec270c628582d3a04e8b3cfed6194a?s=80&d=mm&r=g" alt="userAvatar-Username">
  </div>
  <div class="text-space">
    <textarea maxlength="140" placeholder="أكتب رسالتك هنا ..." name="currentusermsg" id="current-user-msg"></textarea>
    <!--<input type="submit" name="send-msg" value="" class="fa fa-paper-plane send-msg" id="send-msg">-->
    <button class="send-msg">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
  <div class="clear"></div>
</div>