<div style="width: 600px; margin: 15px auto">
    <app-chat-room-head></app-chat-room-head>
    <div class="clear"></div>
    <app-chat-input-box></app-chat-input-box>
    <div class="clear"></div>
    <app-current-user-bubble></app-current-user-bubble>
    <div class="clear"></div>
    <app-current-user-link></app-current-user-link>
    <div class="clear"></div>
    <app-other-users-bubble></app-other-users-bubble>
    <div class="clear"></div>
    <app-other-users-links></app-other-users-links>
    <div class="clear"></div>
    <app-user-menu></app-user-menu>
    <div class="clear"></div>
    <app-sidebar-links></app-sidebar-links>
    <div class="clear"></div>
    <app-social-link-facebook></app-social-link-facebook>
    <div class="clear"></div>
    <app-social-link-twitter></app-social-link-twitter>
    <div class="clear"></div>
    <app-social-link-youtube></app-social-link-youtube>
    <div class="clear"></div>

    <div class="clear"></div>
</div>